log/delete-dish.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_an_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "DELETE",
          "schema": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "userId": { "type": "string" }
            },
            "required": ["id", "userId"]
          }
        }
      }
    },
    "actions": {
      "Delete_Dish_Document": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['documentdb']['connectionId']"
            }
          },
          "method": "delete",
          "path": "/v2/cosmosdb/@{encodeURIComponent('foodsharecosmos2025')}/dbs/@{encodeURIComponent('FoodDB')}/colls/@{encodeURIComponent('Dishes')}/docs/@{encodeURIComponent(triggerOutputs()?['queries']?['id'])}",
          "headers": {
            "x-ms-documentdb-partitionkey": "@{triggerOutputs()?['queries']?['userId']}"
          }
        }
      },
      "Response_success": {
        "runAfter": {
          "Delete_Dish_Document": [
            "Succeeded"
          ]
        },
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Methods": "DELETE, OPTIONS",
            "Access-Control-Allow-Headers": "Content-Type"
          },
          "body": {
            "success": true,
            "message": "Dish deleted successfully"
          }
        }
      },
      "Response_error": {
        "runAfter": {
          "Delete_Dish_Document": [
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        },
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 404,
          "headers": {
            "Content-Type": "application/json",
            "Access-Control-Allow-Origin": "*"
          },
          "body": {
            "success": false,
            "error": "Failed to delete dish"
          }
        }
      }
    },
    "outputs": {},
    "parameters": {
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      }
    }
  },
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "documentdb": {
          "id": "/subscriptions/0c42a942-a42c-4e1e-9234-f53c904f0756/providers/Microsoft.Web/locations/francecentral/managedApis/documentdb",
          "connectionId": "/subscriptions/0c42a942-a42c-4e1e-9234-f53c904f0756/resourceGroups/foodshare-france-rg/providers/Microsoft.Web/connections/documentdb-1",
          "connectionName": "documentdb-1"
        }
      }
    }
  }
}

