log/update-dish-http.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_an_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "PUT",
          "schema": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "userId": { "type": "string" },
              "title": { "type": "string" },
              "description": { "type": "string" },
              "cuisine": { "type": "string" },
              "tags": { "type": "array" }
            },
            "required": ["id", "userId", "title"]
          }
        }
      }
    },
    "actions": {
      "Get_All_Dishes": {
        "runAfter": {},
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['documentdb']['connectionId']"
            }
          },
          "method": "get",
          "path": "/v2/cosmosdb/@{encodeURIComponent('foodsharecosmos2025')}/dbs/@{encodeURIComponent('FoodDB')}/colls/@{encodeURIComponent('Dishes')}/docs"
        }
      },
      "Filter_Target_Dish": {
        "runAfter": {
          "Get_All_Dishes": ["Succeeded"]
        },
        "type": "Query",
        "inputs": {
          "from": "@body('Get_All_Dishes')?['Documents']",
          "where": "@equals(item()?['id'], triggerBody()?['id'])"
        }
      },
      "Check_Dish_Exists": {
        "runAfter": {
          "Filter_Target_Dish": ["Succeeded"]
        },
        "type": "If",
        "expression": {
          "and": [
            {
              "greater": [
                "@length(body('Filter_Target_Dish'))",
                0
              ]
            }
          ]
        },
        "actions": {
          "Set_Updated_Document": {
            "type": "Compose",
            "inputs": {
              "id": "@triggerBody()?['id']",
              "userId": "@triggerBody()?['userId']",
              "title": "@triggerBody()?['title']",
              "description": "@coalesce(triggerBody()?['description'], first(body('Filter_Target_Dish'))?['description'])",
              "cuisine": "@coalesce(triggerBody()?['cuisine'], first(body('Filter_Target_Dish'))?['cuisine'])",
              "imageUrl": "@first(body('Filter_Target_Dish'))?['imageUrl']",
              "tags": "@if(greater(length(triggerBody()?['tags']), 0), triggerBody()?['tags'], first(body('Filter_Target_Dish'))?['tags'])",
              "likes": "@coalesce(first(body('Filter_Target_Dish'))?['likes'], 0)",
              "views": "@coalesce(first(body('Filter_Target_Dish'))?['views'], 0)",
              "createdAt": "@first(body('Filter_Target_Dish'))?['createdAt']",
              "updatedAt": "@utcNow()"
            }
          },
          "Delete_Via_HTTP": {
            "runAfter": {
              "Set_Updated_Document": ["Succeeded"]
            },
            "type": "Http",
            "inputs": {
              "method": "DELETE",
              "uri": "https://foodsharecosmos2025.documents.azure.com/dbs/FoodDB/colls/Dishes/docs/@{triggerBody()?['id']}",
              "headers": {
                "x-ms-documentdb-partitionkey": "[\"@{triggerBody()?['userId']}\"]",
                "x-ms-date": "@{utcNow('r')}",
                "x-ms-version": "2018-12-31",
                "Authorization": "@{concat('type=master&ver=1.0&sig=', base64(hmacsha256(concat('DELETE', '\n', 'docs', '\n', concat('dbs/FoodDB/colls/Dishes/docs/', triggerBody()?['id']), '\n', utcNow('r'), '\n', '', '\n'), base64(parameters('CosmosDBKey')))))}"
              }
            }
          },
          "Create_New_Document": {
            "runAfter": {
              "Delete_Via_HTTP": ["Succeeded"]
            },
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['documentdb']['connectionId']"
                }
              },
              "method": "post",
              "body": "@outputs('Set_Updated_Document')",
              "path": "/v2/cosmosdb/@{encodeURIComponent('foodsharecosmos2025')}/dbs/@{encodeURIComponent('FoodDB')}/colls/@{encodeURIComponent('Dishes')}/docs",
              "headers": {
                "x-ms-documentdb-partitionkey": "@concat('[\"', triggerBody()?['userId'], '\"]')"
              }
            }
          },
          "Response_Updated": {
            "runAfter": {
              "Create_New_Document": ["Succeeded"]
            },
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 200,
              "headers": {
                "Content-Type": "application/json",
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "PUT, OPTIONS",
                "Access-Control-Allow-Headers": "Content-Type"
              },
              "body": {
                "success": true,
                "message": "Dish updated successfully"
              }
            }
          }
        },
        "else": {
          "actions": {
            "Response_Not_Found": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 404,
                "headers": {
                  "Content-Type": "application/json",
                  "Access-Control-Allow-Origin": "*"
                },
                "body": {
                  "success": false,
                  "error": "Dish not found"
                }
              }
            }
          }
        }
      }
    },
    "outputs": {},
    "parameters": {
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      },
      "CosmosDBKey": {
        "type": "SecureString",
        "defaultValue": ""
      }
    }
  },
  "parameters": {
    "$connections": {
      "type": "Object",
      "value": {
        "documentdb": {
          "id": "/subscriptions/0c42a942-a42c-4e1e-9234-f53c904f0756/providers/Microsoft.Web/locations/francecentral/managedApis/documentdb",
          "connectionId": "/subscriptions/0c42a942-a42c-4e1e-9234-f53c904f0756/resourceGroups/foodshare-france-rg/providers/Microsoft.Web/connections/documentdb-1",
          "connectionName": "documentdb-1"
        }
      }
    },
    "CosmosDBKey": {
      "type": "SecureString",
      "value": "YOUR_COSMOS_DB_PRIMARY_KEY"
    }
  }
}

